*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pinkblock{
    margin: 15px 15% 15px 15%  ;
    background-color: #e579e6;
    height: 60px;
}

.yellowblock {
    margin: 15px 15% 15px 15%  ;
    background-color: #e1d67a;
    height: 200px;
}

.lblueblock {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #abcfe7;
    height: 500px;
    margin-bottom: 30px;
    padding-top: 90px;
}

.lblueblock::after{
    float: left;
    content: '';
    display: table;
    clear: both;
}
.leftblock{
    background-color: red;
    border: solid #0087fd;
    border-top: 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 10%;
    height: 50px;
    display: inline-block;
}

.centralblock::after{
    float: left;
    content: '';
    display: table;
    clear: both;
}
.centralblock{
    background-color: green;
    margin: 10px;
    height: 250px;
    width: 10%;
    display: inline-block;
}

.rightblock::after{
    float: right;
    content: '';
    display: table;
    clear: both;
}
.rightblock{
    background-color: grey;
    margin: 10px;
    height: 100%;
    width: 10%;
    display: inline-block;
}

.purpleblock{
    margin: 0 15% 0 15%  ;
    background-color: #8800ff;
    height: 50px;
}
